// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl (Default settings)
// bashrc file has aliases (zr = rename tab, zrp = rename pane)

keybinds clear-defaults=true {
  shared {
    bind "Alt a" { SwitchToMode "normal"; }
    bind "Alt n" { SwitchToMode "session"; }
    bind "Alt f" { ToggleFloatingPanes; }
  }

  shared_except "locked" {
    bind "Alt g" { NewPane; }
    bind "CTRL t" { NewTab; }
    bind "Alt x" { CloseFocus; }

    bind "SHIFT TAB" { GoToPreviousTab; }
    bind "CTRL TAB" { GoToNextTab; }
    bind "Alt o" { FocusPreviousPane; }
    bind "Alt p" { FocusNextPane;}

    bind "Alt h" { Resize "Left"; }
    bind "Alt j" { Resize "Up"; }
    bind "Alt k" { Resize "Down"; }
    bind "Alt l" { Resize "Right"; }
  }

  session {
    bind "Alt n" "Esc" { SwitchToMode "normal"; }
    bind "d" { Detach; }
    bind "w"  {
      LaunchOrFocusPlugin "session-manager" {
        floating true
          move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
  }
}


