simplified_ui true
on_force_close "quit"
default_layout "default"

keybinds clear-defaults=true {
  shared {
    bind "Alt r" { SwitchToMode "normal"; }
    bind "Alt z" { SwitchToMode "locked"; }
    bind "Alt j" { SwitchToMode "scroll"; }
    bind "Alt k" { SwitchToMode "session"; }

    bind "Alt f" { ToggleFloatingPanes; }
  }

  shared_except "locked" {
    bind "Alt g" { NewPane; }
    bind "Alt t" { NewTab; }
    bind "Alt w" { CloseFocus; }
    bind "Alt x" { CloseTab; }

    bind "Alt a" { MoveFocus "Left"; }
    bind "Alt s" { MoveFocus "Down"; }
    bind "Alt d" { MoveFocus "Up"; }
    bind "Alt f" { MoveFocus "Right"; }

    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }

    bind "Alt /" { Resize "Right"; }
    bind "Alt '" { Resize "Left"; }
    bind "Alt =" { Resize "Down"; }
    bind "Alt -" { Resize "Up"; }

  }

  scroll {
    bind "Alt r" { SwitchToMode "normal";}
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    bind "Ctrl e" { PageScrollDown; }
    bind "Ctrl y" { PageScrollUp; }
  }

  locked {
    bind "Alt z" { SwitchToMode "normal"; }
  }

  session {
    bind "Alt k" { SwitchToMode "normal"; }
    bind "d" { Detach; }
    bind "w"  {
      LaunchOrFocusPlugin "session-manager" {
        floating true
          move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
  }
}
