* {
  font-size: 16px;
  font-family: Hack Nerd Font;
}

/* WORKSPACES */
#workspaces button {
  padding: 0 12px;
}

#workspaces button.active {
  color: #dedede;
  background: #323232;
  min-width: 18px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */
tooltip {
  background: #1a1b26;
  border: 1px solid #7aa2f7;
  border-radius: 8px;
}

tooltip label {
  color: #c0caf5;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */
window#waybar {
  background: #111111;
  color: #aaaaaa;
}

#window,
#memory,
#clock,
#disk,
#cpu,
#battery,
#network,
#tray,
#pulseaudio {
  padding: 2px 8px;
}
